@{
    ViewData["Title"] = "Create Blog";
}


<link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet"
  type="text/css" />

<script src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>




<div class="container" style="min-height: 90vh; margin-top: 200px;">


    <h2> Write a blog here</h2>


    <form method="post" enctype="multipart/form-data"> 


        <input placeholder="Blog title Goes Here "  name="BlogTitle" type="text">

        <input placeholder="Blog Image  "  name="image" type="file" accept="image/*">


        <input placeholder="Blog Short Description  "  name="ShortDesc" type="text">
     
        <textarea id="description" name="Description"> Write Your Blog Here... </textarea>

        <button class="btn btn-primary"> Publish </button>

        
        <p class="text-danger"> @ViewBag.errorMessage   </p>

    </form>

</div>


<script>


const editor = new FroalaEditor("#description" , {
    height : 400
})

    
</script>
