* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: rgb(11, 11, 10);
  color: aliceblue;
  display: flex;
  align-items: center;
  padding-left: 10%;
  min-height: 100px;
}

.nav-left {
  display: flex;
  align-items: center;
  width: 33%;
}

.logo {
  font-size: 36px;
}

.brand-name {
  font-size: calc(2rem + 1vw);
  padding-left: 25px;
}

.nav-right {
  display: flex;
  width: 66%;
}

.menu-icon {
  display: none;
}

.nav-links {

width: 100%;
display: flex;
justify-content: space-around;

  > ul {
    list-style-type: none;
    display: flex;
  
   

    > li {
      transition: all 0.3s ease;
      &:hover{
        transform: scale(1.15);
      }

      > a {
        color: rgb(101, 101, 225);
        font-size: 18px;
        margin-right: 30px;
        font-family: monospace;
        cursor: pointer;
        text-decoration: none;
      }
    
    }
  }
}

.icons-list {
  cursor: pointer;
  >i{
    color: rgb(130, 134, 134);
    font-size: 28px;
    margin-right: 15px;
    transition: all 0.3s ease;
  
    &:hover{
      color: rgb(101, 101, 225);
      transform: scale(1.15);
    }
  }
 
}

@media only screen and (max-width: 1050px) {


  .nav-right {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .link-toggle {
    position: absolute;
    display: block;
    background-color: rgb(11, 11, 10);
    top: 100px;
    left: 0px;
    width: 100%;

    >ul{
      display: block;
      padding-left: 0px;
      padding-bottom: 10px; 
      >li{
        padding-left: 10%;
        transition: all 0.2s ease-in;
  
        &:hover{
          background-color: rgb(130, 134, 134);
          transform: scale(1.05);
        }
      }
    } 
  }

  .icons-list {
  
    padding-left: 10%;
    padding-bottom: 15px;


  }
}

.hero {
  background-color: rgb(20, 20, 19);
  background-image: url(../assets/bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 140vh;
  display: flex;
  color: aliceblue;

  > .left {
    width: 100%;
    padding-left: 10%;
    padding-top: 5%;

    > h1 {
      color: rgb(173, 178, 182);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: calc(2rem + 5vw);
    }

    > h4 {
      color: rgb(90, 91, 92);
    }
  }


}


.footer {
  background-color: rgb(11, 11, 10);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  > p {
    margin: 0;
  }
}
